# files
.DS_Store
node_modules

# env / secrets
.env
.claude/
**/.claude/
*.key

# foundry
out
cache
cache_forge

# hardhat
artifacts
coverage
coverage.json

# typechain
typechain

scripts/deployments

scripts/utils/verifications

.vscode
